.flex {
  display: flex;
  align-items: center;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.column {
  flex-direction: column;
}

.flex1 {
  flex: 1;
}

.wrap {
  flex-wrap: wrap;
}